{% extends "existencias/base.html" %}
{% block subtitulo%} Ayuda{% endblock subtitulo %}


{% block contenido %}
<h1>Instrucciones de uso</h1>
<ul>
    <li>Si desea chequear el estado de los Proveedores presione "Proveedores" en la barra de navegación.</li>
    <li>Si desea buscar información acerca de algún Proveedor en particular seleccione la barra de búsqueda en la esquina superior derecha de la pantalla.</li>
    <li>Si desea chequear el estado de los Clientes presione "Clientes" en la barra de navegación.</li>
    <li>Si desea chequear el estado de las Compras presione "Compras" en la barra de navegación.</li>
    <li>Si desea chequear el estado de las Ventas presione "Ventas" en la barra de navegación.</li>
    <li>Si desea chequear el estado del Stock presione "Stock" en la barra de navegación.</li>
    <li> Si desea ingresar información presione el botón "Añadir/Actualizar" y se desplegará un formulario con dicha función.</li>
    <li>Una vez realizadas dichas acciones podrá volver a la página de inicio presionando "Inicio".</li>
</ul>




{% endblock contenido %}
    