{% extends "existencias/base.html" %}
{% block subtitulo%} Ayuda{% endblock subtitulo %}


{% block contenido %}
<h1>Instrucciones de uso</h1>
<ol>
    <li>Si desea chequear el estado de los Proveedores presione "Proveedores" en la barra de navegacion</li>
    <li>Si desea chequear el estado de los Clientes presione "Clientes" en la barra de navegacion</li>
    <li>Si desea chequear el estado de las Compras presione "Compras" en la barra de navegacion</li>
    <li>Si desea chequear el estado de las Ventas presione "Proveedores" en la barra de navegacion</li>
    <li>Si desea chequear el estado de los Proveedores presione "Proveedores" en la barra de navegacion</li>
    <li> Si desea ingresar informacion a alguno de los anteriores campos presione el botón "Añadir/Actualizar" y se desplegará un formulario con dicha función</li>
    <li>Una vez realizada dichas acciones podrá volver a la pagina de inicio presionando "Inicio"</li>
</ol>




{% endblock contenido %}
    