
{% extends "existencias/base.html"%}
{% block subtitulo%}Clientes {% endblock subtitulo %}
{% block contenido %}



<h1>A continucacion el detalle de tus clientes</h1>
<table class="table table-success table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Direccion</th>
        <th scope="col">Telefono</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
        <tr>
            <td>{{cliente.id}}</td>
            <td>{{cliente.nombre}}</td>
            <td>{{ cliente.direccion}}</td>
            <td>{{cliente.telefono}}</td>
            <td>{{cliente.email}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<button type="button" class="btn btn-light"><a href="{% url 'crear_cliente' %}" style="text-decoration: none;" >Añadir Cliente</a></button>

{% endblock contenido%}

