{% extends "existencias/base.html" %}
{% block subtitulo%}Crear Venta{% endblock subtitulo %}
{% block estilos %}

.formulario{
  text-align: right;
}

{% endblock estilos %}


{% block contenido %}
<style>

</style>
<h1>Ingresar Venta</h1>
<br>
<div class="input-group mb-3" style="position: relative;" >
  <form action="{% url 'crear_venta' %}" method="post" class="formulario"
  >
    {% csrf_token %}
    {{ formulario.as_p }}
    <input type="submit" value="Enviar" class="btn btn-primary mb-3"/>
  </form>
</div>


{% endblock contenido %}