{% extends "existencias/base.html"%}
{% block subtitulo%}Stock {% endblock subtitulo %}

{% block contenido%}
<h1>A continucacion el detalle de tu stock</h1>

<table class="table table-success table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Producto</th>
        <th scope="col">Cantidad</th>
      </tr>
    </thead>
    <tbody>
        {% for stock in stocks %}
        <tr>
            <td>{{stock.id}}</td>
            <td>{{ stock.producto}}</td>
            <td>{{stock.cantidad}}</td>   
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'crear_stock' %}"><i class="bi bi-file-earmark-plus"></i>Actualiza el Stock</a>
{% endblock contenido%}