{% extends "existencias/base.html"%}
{% block subtitulo%}Ventas {% endblock subtitulo %}

{% block contenido %}
<h1>A continucacion el detalle de tu stock</h1>

<table class="table table-success table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Cliente</th>
        <th scope="col">Producto</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Precio</th>
      </tr>
    </thead>
    <tbody>
        {% for venta in ventas %}
        <tr>
            <td>{{venta.id}}</td>
            <td>{{ venta.cliente}}</td>
            <td>{{venta.producto}}</td>
            <td>{{venta.cantidad}}</td>
            <td>{{venta.precio}}</td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'crear_venta' %}"><i class="bi bi-file-earmark-plus">Ingresa una venta</i></a>


{% endblock contenido%}