{% extends "existencias/base.html"%}
{% block subtitulo%}Ventas {% endblock subtitulo %}


{% block estilos %}

{% endblock estilos%}

{% block contenido %}
<h1>Detalle de Ventas</h1>

<table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">Cliente</th>
        <th scope="col">Producto</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>
        {% for venta in ventas %}
        <tr>
            <td>{{ venta.cliente}}</td>
            <td>{{venta.producto}}</td>
            <td>{{venta.cantidad}}</td>
            <td>{{venta.precio}}</td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>

<a class="btn btn-primary" href="{% url 'crear_venta' %}">Añadir Venta</a>

{% endblock contenido%}